<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/5ff0c880c6.js" crossorigin="anonymous"></script>
    <title>TakeSteps App</title>
</head>
    <nav>
        <h1>TakeSteps</h1>
        <ul>
            <li><a href="/">start</a></li>
            <li><a href="/ranking">ranking</a></li>
            <li><a href="/profile">profil</a></li>
            <li><a href="/logout">wyloguj się</a></li>
        </ul>
    </nav>

    <div class="info">
        <div class="infobackground">
            <h1>Witaj {{user.name}}!</h1>
                        <h4>({{user.email}})</h4>
        <img src="/avatar.jpg" alt="Avatar" class="avatar"><br></br>

        </div>
    </div>

    <div class="container">

    <h5>Według Światowej Organizacji Zdrowia (WHO), zdrowy człowiek powinien pokonywać średnio od 6000 do 8000 kroków dziennie.</h5>

    <center><h1>Statystyki liczby kroków:</h1></center>

    <div class="grid-container">
        <div class="grid-content">
            <h4>Ostatnie 7 dni:</h4>
            <i class="fas fa-calendar-week"></i>
            <h6><p id="7days"></p></h6>
        </div>

        <div class="grid-content">
            <h4>Ostatni miesiąc:</h4>
            <i class="far fa-calendar-alt"></i>
            <h6><p id="30days"></p></h6>
        </div>

        <div class="grid-content">
            <h4>Wszystkie kroki:</h4>
            <i class="fas fa-infinity"></i>
            <h6><p id="alldays"></p></h6>
        </div>
    </div>
            <div class="new-steps"><button class="form-button new"> Dodaj/Edytuj kroki </button></div>
            <h2>Historia kroków:</h2>
            {{#if message}}
               <h4>{{message}}</h4>
            {{/if}}
            <div class="steps-table">
                <ul>
                </ul>
            </div>
        </div>

        </div>
    </div>
       <center>Chcesz zmienić hasło? Kliknij <a href="/changepassword"><b>tutaj!</b></a></br></center> 
    <div class="footer">
        &#xA9 TakeSteps 2021
    </div>

    <div class="form-window steps">
        <form action="/profile/userdata/steps/{{user.id}}" method="POST">
        <h3>Dodawanie kroków</h3>
            <label for="date">Data</label>
            <input type="date" placeholder="Data" id="date" name="date" required="required">

            <label for="steps">Liczba kroków</label>
            <input type="number" placeholder="Liczba kroków" id="steps" name="steps" required="required">
            <span style="display: inline;">
                <button type="submit" class="form-button steps">Dodaj/Zmień</button>
                <button type="button" class="form-button cancelForm">Anuluj</button>
            </span>

        </form>
    </div>

     <script src="/js/steps.js"></script>
     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    
    const d7days = document.getElementById('7days');
    const d30days = document.getElementById('30days');
    const alldays = document.getElementById('alldays');
    const today = new Date();
    const registerDate = new Date(`{{user.registerdate}}`);
    const oneDay = 24 * 60 * 60 * 1000;
    const stepsList = document.querySelector('.steps-table > ul');
    let liElements = 0;
    
    const url = 'profile/userdata/' + `{{user.id}}`;
    console.log(url);

    const loadData = async () => {
        await axios.get(url)
        .then(res => {
            let data = res.data;
            console.log(data);
            fillData(data);
        })
        .catch(function (error) {
            console.log("error" + error);
        })
    }

    const fillData = data => {
        /* User Steps */
        data.steps[0].forEach(element => {
            const daySteps = document.createElement('li');
            const stepsAmount = document.createElement('div');
            const stepsDate = document.createElement('div');
            const editButton = document.createElement('button');

            daySteps.setAttribute('id', element.id);
            stepsDate.classList.add('date');
            stepsDate.innerHTML = element.day.substring(0, 10);

            stepsAmount.classList.add('steps');
            stepsAmount.innerHTML = element.amount;

            daySteps.appendChild(stepsDate);
            daySteps.appendChild(stepsAmount);
            stepsList.appendChild(daySteps);
            liElements++;
        });

        /* User Scores */
        d7days.innerHTML = data.weekscore;
        d30days.innerHTML = data.monthscore;
        alldays.innerHTML = data.allscore;
    }


    document.addEventListener("DOMContentLoaded", loadData());
</script>
</body>
</html>